   .container {
    display: flex;
    margin-top: 100px;
    /* padding: 0px 160px; */
    justify-content: center;
   }

   .protectionCard {
    max-width: 624px;
   }

   .button {
    margin-top: 40px;
   }

   .ml {
    margin-left: 32px;
   }

   .mr {
    margin-right: 32px;
   }